{% extends 'assist/base.html' %}

{% block content %}
    <style>
        
        a:link span{
            color: #4298f4;
            text-align: center; 
            text-decoration: none;
            display: inline-block;
        }

    </style>
    <div class="section">
        
        <a class="btn btn-default" href="{% url 'doc_edit' pk=section.pk %}">
        	{% if user.is_authenticated %}
        	<button type="button" class="btn btn-outline-info">
        		Edit
        	</button>
        	{% endif %}
        </a>

        <h1 id="section-title">{{ section.title }}</h1>
        <div id="data-container" class="Text">
        	<p>{{ section.text|safe }}</p>
        </div>
        
    </div>
{% endblock %}